<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="30px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>
      Welcome to
      <span style="font-weight: 500; color: rgb(72, 0, 139);">Fitness</span
      ><span style="font-weight: lighter;">Tracker</span>
    </h1>
    <p style="font-style: italic; margin-top: 30px; font-weight: bold;">
      Angular application developed using Firestore and Angular Material.
    </p>
    <img
      class="showcase"
      style="max-width: 90%; margin-bottom: 5px;"
      src="../../../assets/showcase-1.png"
      alt="showcase-1"
    />
    <p style="margin: 10px;">
      Stay active, keep track of your workout history and enjoy better health!
    </p>

    <img
      class="showcase"
      style="max-width: 90%; margin-bottom: 10px;"
      src="../../../assets/showcase-3.png"
      alt="showcase-3"
    />
  </section>
</div>
